@font-face {
  font-family: "iconfont"; /* Project id 3237452 */
  src: url('iconfont.woff2?t=1668156526726') format('woff2'),
       url('iconfont.woff?t=1668156526726') format('woff'),
       url('iconfont.ttf?t=1668156526726') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Assets:before {
  content: "\e626";
}

.icon-Dashboards:before {
  content: "\e61d";
}

.icon-Governance:before {
  content: "\e61e";
}

.icon-a-Gasstake:before {
  content: "\e61f";
}

.icon-a-MyAccount:before {
  content: "\e620";
}

.icon-Bridges:before {
  content: "\e621";
}

.icon-Grants:before {
  content: "\e622";
}

.icon-Voting1:before {
  content: "\e623";
}

.icon-Setting:before {
  content: "\e624";
}

.icon-bridge_nav:before {
  content: "\e61c";
}

.icon-Union:before {
  content: "\e619";
}

.icon-Vector:before {
  content: "\e618";
}

.icon-a-2:before {
  content: "\e615";
}

.icon-mdi_text-box-check-outline:before {
  content: "\e617";
}

.icon-a-toupiao1:before {
  content: "\e608";
}

.icon-toupiao:before {
  content: "\e609";
}

.icon-shenchaxiang:before {
  content: "\e60a";
}

.icon-cebianlan-gongshiguanli:before {
  content: "\e60b";
}

.icon-a-bianzu151:before {
  content: "\e60c";
}

.icon-a-Fill3:before {
  content: "\e601";
}

.icon-Proposals:before {
  content: "\e602";
}

.icon-a-myAccount:before {
  content: "\e603";
}

.icon-Voting:before {
  content: "\e604";
}

.icon-a-GasStake:before {
  content: "\e605";
}

