@font-face {
  font-family: "iconfont"; /* Project id 3237452 */
  src: url('iconfont.woff2?t=1646912502437') format('woff2'),
       url('iconfont.woff?t=1646912502437') format('woff'),
       url('iconfont.ttf?t=1646912502437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Fill3:before {
  content: "\e601";
}

.icon-Proposals:before {
  content: "\e602";
}

.icon-a-myAccount:before {
  content: "\e603";
}

.icon-Voting:before {
  content: "\e604";
}

.icon-a-GasStake:before {
  content: "\e605";
}

